# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add", DEVPATH=="/devices/pci0000:00/INT34BB:00/gpiochip0/gpio/gpio466", \
    RUN+="/bin/chown modem:modem /sys/class/gpio/gpio466/direction /sys/class/gpio/gpio466/value"
