# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# M.2 modem card reset on net WWAN_RTS_L is connected to
# 111 + 573 (/sys/class/gpio/gpiochip573/base) which ends up being gpio 684
ACTION=="add", DEVPATH=="*/INTC1083:00/gpiochip*/gpio/*", \
    RUN+="/lib/udev/chown-usb-modem-gpio.sh \"$sys/$devpath\" \"INTC1083:00\" 111"
