# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# D-Bus on-demand service specification for ML Service.
# Will be installed into /usr/share/dbus-1/system-services/.
[D-BUS Service]
Name=org.chromium.MachineLearning
Exec=/sbin/start ml-service TASK=mojo_service
User=root
