# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# TODO(b/278765529) Remove this udev rule once uevent hit rate is low enough.
# When we receive the cannot_assoc uevent from iwl7000 driver, the device
# is in a bad state, so we implement a temporary dbus command to restart the
# device. Details of the uevent emission can be found at crrev.com/c/4434069.
# This command is invoked automatically by this udev rule upon receiving
# the cannot_assoc uevent. This command should not be used in tests, but can
# manually be tested by calling the following command as root.
#
# dbus-send --system \
#    --dest=org.chromium.flimflam / \
#    org.chromium.flimflam.Manager.RequestWiFiRestart
#
SUBSYSTEMS=="pci", ACTION=="change", \
    ENV{DRIVER}=="iwlwifi", ENV{EVENT}=="cannot_assoc", \
    RUN+="/usr/bin/dbus-send --system \
    --dest=org.chromium.flimflam / \
    org.chromium.flimflam.Manager.RequestWiFiRestart"