type cros_auditd, chromeos_domain, domain;

permissive cros_auditd;

domain_auto_trans(cros_init, cros_auditd_exec, cros_auditd)

filetrans_pattern(cros_init_scripts, cros_var_log, cros_var_log_audit, dir, "audit")
allow cros_auditd cros_var_log_audit:file create_file_perms;
allow cros_auditd cros_var_log_audit:dir create_dir_perms;

allow cros_auditd cros_passwd_file:file r_file_perms;

log_writer(cros_auditd)

allow cros_auditd self:capability { sys_nice audit_control };
allow cros_auditd self:netlink_audit_socket { create_socket_perms nlmsg_read nlmsg_write };

allow cros_auditd cros_audispd_exec:file x_file_perms;

pid_file(cros_auditd, cros_run, "auditd.pid")
