type cros_userfeedback, chromeos_domain, domain;
permissive cros_userfeedback;

domain_auto_trans({cros_init cros_init_scripts cros_powerd}, cros_userfeedback_file, cros_userfeedback)

filetrans_pattern(cros_userfeedback, cros_var_log, cros_var_log_eventlog, file, "eventlog.txt")
