filetrans_pattern(chromeos_domain, cros_var_log, cros_arc_log, file, "arc.log")
filetrans_pattern(chromeos_domain, cros_var_log, cros_net_log, file, "net.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_lib, cros_tz_data_file, dir, "timezone")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_authpolicy_log, file, "authpolicy.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_boot_log, file, "boot.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_var_log_fwupd, file, "fwupd.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_hammerd_log, file, "hammerd.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_secure_log, file, "secure")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_syslog, file, "messages")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_tlsdate_log, file, "tlsdate.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_typecd_log, file, "typecd.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_var_log_hypervisor, file, "hypervisor.log")
filetrans_pattern(cros_log_file_creator_domain, cros_var_log, cros_secagentd_log, file, "secagentd.log")

# TODO: identify all creators
filetrans_pattern(chromeos_domain, cros_var_log, cros_var_log_faillog, file, "faillog")
filetrans_pattern(chromeos_domain, cros_var_log, cros_var_log_session_manager, file, "session_manager")
filetrans_pattern(chromeos_domain, cros_var_log, cros_var_log_atrus, file, "atrus.log")
filetrans_pattern(chromeos_domain, cros_var_log, cros_var_log_tpm_firmware_updater, file, "tpm-firmware-updater.log")
filetrans_pattern(chromeos_domain, cros_var_log, cros_var_log_recover_duts, dir, "recover_duts")
filetrans_pattern(chromeos_domain, cros_var_log, cros_var_log_upstart, file, "upstart.log")
