# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# GPIO offset for  FM101 - 84, L850,FM350 - 336

ACTION=="add", DEVPATH=="*/INTC1055:00/gpiochip*/gpio/*", \
    RUN+="/lib/udev/chown-usb-modem-gpio.sh \"$sys/$devpath\" \"INTC1055:00\" 84 336"
