ACTION!="add", GOTO="media_end"
SUBSYSTEM!="video4linux", GOTO="media_end"

ATTR{name}=="qcom-venus-decoder", SYMLINK+="video-dec0"
ATTR{name}=="qcom-venus-encoder", SYMLINK+="video-enc0"
ATTR{name}=="cam-jpeg-enc", SYMLINK+="jpeg-enc"

LABEL="media_end"
