# The default hibernation delay on trogdor firmware is 3600 seconds (1 hour).
# Let's decrease this significantly to make sure that sensors get reset.
ACTION=="add|change", SUBSYSTEM=="platform", DRIVER=="cros-ec-chardev", \
  PROGRAM="/usr/sbin/ectool hibdelay 10"
