# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add|change", SUBSYSTEM=="usb", ATTR{idVendor}=="03f0",\
  ATTR{idProduct}=="0c6b", ATTR{power/autosuspend_delay_ms}="1000"
