# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# D-Bus on-demand service specification for Missived Service.
# Will be installed into /usr/share/dbus-1/system-services/.
[D-BUS Service]
Name=org.chromium.Missived
Exec=/sbin/start missived
User=root
