ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="sx9360", \
DEVPATH=="*/pci0000:00/0000:00:15.1/*", SYMLINK+="proximity-lte", \
ATTR{in_proximity0_hardwaregain}="2", \
ATTR{in_proximity1_hardwaregain}="2", \
ATTR{events/in_proximity1_thresh_either_value}="1014", \
ATTR{events/thresh_falling_period}="2", \
ATTR{events/thresh_rising_period}="2", \
ATTR{events/in_proximity1_thresh_either_hysteresis}="72", \
ATTR{events/in_proximity1_thresh_either_en}="1", \
GROUP="power"
