# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: cros-im
Section: devel
Priority: optional
Maintainer: The ChromiumOS Authors <chromium-os-dev@chromium.org>
Build-Depends: clang,
               debhelper-compat (= 12),
               googletest,
               libgtk-3-dev,
               libgtkmm-3.0-dev,
               libwayland-bin,
               meson,
               pkg-config,
               weston,
               xauth,
               xvfb,
               dh-exec,
               qtbase5-dev,
               qtbase5-private-dev,
Standards-Version: 4.5.0
Homepage: https://chromium.googlesource.com/chromiumos/platform2/+/HEAD/vm_tools/cros_im/

Package: cros-im
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ChromeOS IME support
 cros_im allows ChromeOS IMEs to be used within Crostini. Support is currently
 limited to GTK3 and QT5/6 applications.