# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Report resume metrics once per boot
After=system-services.target
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/send_metrics_on_resume -b
