type cros_btmanagerd, chromeos_domain, domain;

permissive cros_btmanagerd;

domain_auto_trans({cros_init minijail}, cros_btmanagerd_exec, cros_btmanagerd)

log_writer(cros_btmanagerd)
