type cros_bluetoothd, chromeos_domain, domain;

permissive cros_bluetoothd;

chain_minijail0_preload(cros_init_start_bluetoothd, cros_bluetoothd_exec, cros_bluetoothd)

log_writer(cros_bluetoothd)
