type cros_btadapterd, chromeos_domain, domain;

permissive cros_btadapterd;

domain_auto_trans({cros_init minijail}, cros_btadapterd_exec, cros_btadapterd)

log_writer(cros_btadapterd)
