# If battery is charging, change the scaling_governor to performance.
# If battery is discharging, change the scaling_governor to powersave.
#
ACTION=="change", SUBSYSTEM=="power_supply", RUN+="/usr/bin/cpufreq_config"
