# Bluetooth fails to load due to https://crrev.com/c/3988227.
# Don't enable runtime PM for Mendocino XHCI (b/258709954).
ATTR{[dmi/id]product_name}=="Frostflow", SUBSYSTEM=="pci", DRIVER=="xhci_hcd", ATTR{power/control}="on"
