# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# M.2 modem card reset is driven by the net LTE_FW_RST_L connected to AGPIO89
# GPIO offset for  L850 - 89

ACTION=="add", DEVPATH=="*/AMD0030:00/gpiochip*/gpio/*", \
    RUN+="/lib/udev/chown-usb-modem-gpio.sh \"$sys/$devpath\" \"AMD0030:00\" 89"
