# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

brk: 1
close: 1
connect: 1
epoll_create1: 1
epoll_ctl: 1
epoll_pwait: 1
exit: 1
exit_group: 1
fcntl: 1
fstat: 1
futex: 1
getegid: 1
geteuid: 1
getgid: 1
getrandom: 1
getresgid: 1
getresuid: 1
getsockname: 1
gettid: 1
getuid: 1
ioctl: arg1 == TCGETS
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
openat: 1
pipe2: 1
ppoll: 1
prlimit64: 1
read: 1
recvmsg: 1
restart_syscall: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
sendmsg: 1
sendto: 1
signalfd4: 1
socket: arg0 == AF_UNIX
write: 1
