# Direct regulatory events to our agent instead of CRDA.
KERNEL=="regulatory*", ACTION=="change", SUBSYSTEM=="platform", RUN+="/usr/bin/testbed_regulatory"
