# Granting a read access to /sys/firmware/dmi/tables/ to the wilco_dtc group for
# purposes of allowing wilco diagnostics and telemetry controller to extract
# system information from DMI tables.
# A full description of the data may be found at
# http://manpages.ubuntu.com/manpages/bionic/man8/dmidecode.8.html.
SUBSYSTEM=="dmi", ACTION=="add", RUN+="/bin/chown -R root:wilco_dtc /sys/firmware/dmi/tables", RUN+="/bin/chmod -R g+r /sys/firmware/dmi/tables"
