# Granting a read access to /dev/wilco_event0 to the wilco_dtc group for
# purpose of allowing wilco diagnostics and telemetry controller to subscribe
# to EC events.
SUBSYSTEM=="wilco_event", ACTION=="add", OWNER:="root", GROUP:="wilco_dtc", \
    MODE:="0640"

# Granting a read and write access to /dev/telem0 to the wilco_dtc group for
# purposes of allowing wilco diagnostics and telemetry controller to extract EC
# telemetry data.
# Write access is needed to write opaque data to EC driver which will send this
# data to EC and then EC response will be available for read on the same EC
# driver node.
SUBSYSTEM=="wilco_telem", ACTION=="add", OWNER:="root", GROUP:="wilco_dtc", \
    MODE:="0660"

# Granting read and write access to /dev/cros_ec to the cros_ec-access group
# for purposes of allowing healthd_ec to execute ectool and collect smart
# metrics such as manufacture_date_smart and temperature_smart.
# Write access is needed to open the lockfile /run/lock/cros_ec_lock and acquire
# the GEC lock.
KERNEL=="cros_ec", GROUP="cros_ec-access", MODE="0660"
