# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

access: 1
faccessat: 1
faccessat2: 1
arch_prctl: 1
brk: 1
clock_getres: 1
close: 1
connect: 1
execve: 1
fcntl: 1
fstat: 1
getgid: 1
getpid: 1
getuid: 1
geteuid: 1
getresgid: 1
getresuid: 1
getsockname: 1
gettid: 1
lseek: 1
# Don't allow mmap with both PROT_WRITE and PROT_EXEC.
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
# Don't allow mprotect with PROT_EXEC.
mprotect: arg2 in ~PROT_EXEC
munmap: 1
openat: 1
poll: 1
prlimit64: 1
read: 1
recvmsg: 1
rt_sigaction: 1
rt_sigprocmask: 1
sendmsg: 1
sendto: 1
set_robust_list: 1
set_tid_address: 1
socket: arg0 == AF_UNIX
stat: 1
tgkill: 1
write: 1
