# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# D-Bus on-demand specification for the CupsProxyDaemon.
# Will be installed into /usr/share/dbus-1/system-services/.
[D-BUS Service]
Name=org.chromium.CupsProxyDaemon
Exec=/sbin/start cups_proxy
User=root
