# Copyright 2017 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

on init
    # Enable camera HAL v3
    setprop ro.hardware.camera cheets_v3
    setprop camera.disable_zsl_mode 1
