type cros_crash_sender, chromeos_domain, domain;

permissive cros_crash_sender;

cros_cron(cros_crash_sender, cros_crash_sender_exec)

log_writer(cros_crash_sender)

r_dir_file(cros_crash_sender, cros_var_lib_crash_reporter)

type cros_crash_sender_lock, file_type, cros_file_type, cros_tmpfile_type;
filetrans_pattern(cros_crash_sender, cros_run_lock, cros_crash_sender_lock, file)
allow cros_crash_sender cros_crash_sender_lock:file lock;
