type cros_jetstream_update_stats, chromeos_domain, domain;

permissive cros_jetstream_update_stats;

cros_cron(cros_jetstream_update_stats, cros_jetstream_update_stats_exec)
