type cros_update_userdataauth, chromeos_domain, domain, cros_init_scripts_domain;

permissive cros_update_userdataauth;

cros_cron(cros_update_userdataauth, cros_update_userdataauth_shell_script)
