type cros_accelerator_logs, chromeos_domain, domain;

permissive cros_accelerator_logs;

cros_cron(cros_accelerator_logs, cros_accelerator_logs_exec)
