type cros_machine_id_regen, chromeos_domain, domain, cros_dbus_uuidgen_domain;

permissive cros_machine_id_regen;

cros_cron(cros_machine_id_regen, cros_machine_id_regen_exec)

# init will also execute cros-machine-id-regen at network disconnected.
domain_auto_trans(cros_init, cros_machine_id_regen_exec, cros_machine_id_regen)

log_writer(cros_machine_id_regen)
