allow cros_dbus_uuidgen_domain cros_dbus_uuidgen_exec:file execute;
rw_dir_file(cros_dbus_uuidgen_domain, cros_var_lib_dbus)

typeattribute cros_init_scripts cros_dbus_uuidgen_domain;
