allow cros_dbus_client_domain cros_system_bus_socket:sock_file write;
allow cros_dbus_client_domain cros_dbus_daemon:unix_stream_socket connectto;
allow cros_dbus_client_domain cros_run_dbus:dir r_dir_perms;
allow cros_dbus_client_domain cros_dbus_send_exec:file execute;
allow cros_dbus_daemon cros_dbus_client_domain:dir search;
allow cros_dbus_daemon cros_dbus_client_domain:file { getattr open read };
