type cros_gdbus, domain, chromeos_domain;

permissive cros_gdbus;

domain_auto_trans(cros_init, cros_gdbus_exec, cros_gdbus)
domain_auto_trans(cros_init_scripts, cros_gdbus_exec, cros_gdbus)
domain_auto_trans(minijail, cros_gdbus_exec, cros_gdbus)
