type cros_dbus_daemon, chromeos_domain, domain;

permissive cros_dbus_daemon;

domain_auto_trans(cros_init, cros_dbus_daemon_exec, cros_dbus_daemon)

filetrans_pattern(cros_dbus_daemon, cros_run_dbus, cros_system_bus_socket, sock_file)

pid_file(cros_dbus_daemon, cros_run, "dbus.pid")

allow cros_dbus_daemon domain:dir search;
allow cros_dbus_daemon domain:file { open read };

allow cros_dbus_daemon self:capability { setuid setgid sys_resource };

arc_cts_fails_release(`
allow cros_dbus_daemon self:capability { dac_override };
', (`cros_dbus_daemon'))
