# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# This file will be installed into `/usr/share/dbus-1/system-services/`.
[D-BUS Service]
Name=org.chromium.PrivateComputing
Exec=/sbin/start private_computing
User=root
