LITEONIT_LSS_32L6G_HP DS51702 DS51704 - fw.bin
KINGSTON_RBU_SUS151S364GD S9FM01.8 S9FM02.3 mode3_max,power_cycle fw.bin
SAMSUNG_MZAPF032HCFV_000H1 FXM21H2Q FXM21HZZ - missing
KINGSTON_RBU_SUS151S364GD S9FM01.7 S9RBOOT2 kingston_erase,power_cycle undef
PS3109S9 S9RBOOT2 S9FM02.3 kingston_reformat,power_cycle fw.bin
