# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Format: //devtools/kokoro/config/proto/build.proto

build_file: "platform2/vm_tools/reference_vm/kokoro/upload_image.sh"
