# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

on early-init
    setprop ro.vendor.arc.sf.maxacquired 3
    setprop ro.vendor.arc.wayland.use_cropped_buffer_size true
