# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

clock_gettime64: 1
readlink: 1
# GPIO_GET_LINEHANDLE_IOCTL                 = 0xc16cb403
# _IOC(_IOC_READ|_IOC_WRITE, 0x3a, 0, 0x1c) = 0xc01c3a00
# MIXER_WRITE(5) or MEMLOCK                 = 0x40084d05
# MIXER_WRITE(6) or MEMUNLOCK               = 0x40084d06
# MIXER_READ(23) or MEMISLOCKED             = 0x80084d17
# GPIO_GET_LINEINFO_IOCTL                   = 0xc048b402
# GPIO_GET_CHIPINFO_IOCTL                   = 0x8044b401
# TCGETS                                    = 0x5401
# CROS_EC_DEV_IOCXCMD                       = 0xc014ec00
# MIXER_WRITE(2) or MEMERASE                = 0x40084d02
# GPIOHANDLE_GET_LINE_VALUES_IOCTL          = 0xc040b408
ioctl: arg1 == 0xc16cb403 || arg1 == 0xc01c3a00 || \
       arg1 == 0x40084d05 || arg1 == 0x40084d06 || \
       arg1 == 0x80084d17 || arg1 == 0xc048b402 || \
       arg1 == 0x8044b401 || arg1 == 0x5401 || \
       arg1 == 0xc014ec00 || arg1 == 0x40084d02 || \
       arg1 == TCGETS || arg1 == 0xc040b408
read: 1
statx: 1
readlinkat: 1
access: 1
openat: 1
close: 1
rt_sigaction: 1
mmap2: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
epoll_wait: 1
_llseek: 1
gettid: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
write: 1
recvmsg: 1
faccessat2: 1
fstatfs64: 1
getrandom: 1
sendmsg: 1
getdents64: 1
send: 1
brk: 1
rt_sigprocmask: 1
dup: 1
dup2: 1
getpid: 1
poll: 1
fcntl64: 1
fdatasync: 1
set_robust_list: 1
flock: 1
fchmod: 1
rseq: 1
epoll_ctl: 1
ugetrlimit: 1
unlink: 1
execve: 1
ARM_set_tls: 1
set_tid_address: 1
clone: 1
uname: 1
geteuid32: 1
exit_group: 1
wait4: 1
clock_getres_time64: 1
pipe2: 1
ftruncate64: 1
futex: 1
prlimit64: 1
clock_nanosleep: 1
getppid: 1
umask: 1
# AF_UNIX = 0x1
socket: arg0 == AF_UNIX || arg0 == 0x1
connect: 1
getcwd: 1
getuid32: 1
getgid32: 1
getegid32: 1
signalfd4: 1
getsockname: 1
restart_syscall: 1
sched_getaffinity: 1
sched_getattr: 1
sched_setattr: 1
sched_yield: 1
setpriority: 1
# PR_SET_NAME = 0xf
prctl: arg0 == 0xf
getresuid32: 1
getresgid32: 1
socketpair: 1
epoll_create1: 1
memfd_create: 1
eventfd2: 1
mkdir: 1
rmdir: 1
exit: 1
rt_sigreturn: 1
