# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Chrome OS post-mount-encrypted import data
After=system-services.target

# If this is a factory installer image, don't run at all.
ConditionPathExists=!/root/.factory_installer

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/cros/init/crx-import.sh
