# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
# This job handles any cleanup that might be needed on first boot after
# a Chrome OS update has been installed.
Description=Chrome OS post-install cleanup
Before=boot-services.target

# Check if we need to run post install tasks. The tasks should be safe
# to be run more than once, as we'll rerun the tasks in case the device
# shuts down before completing the tasks, though it's unlikely to happen.
ConditionPathExists=/mnt/stateful_partition/.install_completed

[Service]
Type=oneshot
RemainAfterExit=true
Environment=INSTALL_COMPLETED=/mnt/stateful_partition/.install_completed

# Remove XKB cache files, as the files may be incompatible after upgrade.
ExecStart=/bin/rm -f /var/lib/xkb/*.xkm

ExecStart=/bin/rm -f "${INSTALL_COMPLETED}"
