# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Metrics collection daemon
After=system-services.target

[Service]
Type=oneshot
ExecStart=/usr/share/userfeedback/scripts/bios_info
ExecStart=/usr/share/userfeedback/scripts/ec_info
ExecStart=/usr/share/userfeedback/scripts/bios_times
ExecStart=/usr/share/userfeedback/scripts/eventlog
