[Unit]
Description=maitred
Requires=opt-google-cros\x2dcontainers.mount
After=opt-google-cros\x2dcontainers.mount

[Service]
Environment="PATH=/opt/google/cros-containers/bin:${PATH}"
ExecStart=/opt/google/cros-containers/bin/maitred

[Install]
WantedBy=basic.target
