[Unit]
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=LABEL=cros-vm-tools
Where=/opt/google/cros-containers
Options=ro
TimeoutSec=10

[Install]
WantedBy=local-fs.target
