[Unit]
Description=Update /etc/apt/sources.list.d/cros.list
Requires=opt-google-cros\x2dcontainers.mount
After=opt-google-cros\x2dcontainers.mount

[Service]
ExecStart=/usr/local/bin/update-cros-list
Type=oneshot

[Install]
WantedBy=basic.target
