[Unit]
Description=vshd
Requires=opt-google-cros\x2dcontainers.mount
After=opt-google-cros\x2dcontainers.mount

[Service]
ExecStart=/opt/google/cros-containers/bin/vshd

[Install]
WantedBy=basic.target
