ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="sx932x", ATTRS{name}=="STH9321:00", \
  SYMLINK+="proximity-lte", GROUP="power", \
  ATTR{events/in_proximity1_UC1_thresh_either_en}="1"
