# Copyright 2021 The ChromiumOS Authors
# Distributed under the terms of the GNU General Public License v2

#
# Tell powerd that zed/star/eel/duck are actually "internal"
# keyboard/touchpad

SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="504c", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5052", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5057", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="505b", \
  ENV{POWERD_ROLE}="internal_keyboard"

SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="504c", \
  ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5052", \
  ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5057", \
  ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="505b", \
  ENV{POWERD_ROLE}="internal_touchpad"
