# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
openat: 1
newfstatat: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
close: 1
fstatfs: 1
read: 1
gettid: 1
pread64: 1
write: 1
brk: 1
# I2C_SLAVE_FORCE == 0x0706
# I2C_SMBUS == 0x0720
# For brillo::kLogToStderrIfTty. isatty(0) calls ioctl(0, TCGETS, *).
ioctl: arg1 == 0x00000706 || arg1 == 0x00000720 || arg0 == 0 && arg1 == TCGETS
access: 1
arch_prctl: 1
set_tid_address: 1
set_robust_list: 1
rseq: 1
prlimit64: 1
munmap: 1
getrandom: 1
exit_group: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
