# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

access: 1
arch_prctl: 1
brk: 1
clock_getres: 1
clock_gettime: 1
close: 1
exit: 1
exit_group: 1
fstatfs: 1
getdents64: 1
gettid: 1
gettimeofday: 1
# ioctl: arg1 == /* DRM_IOCTL_MODE_GETRESOURCES */ ||
#        arg1 == /* DRM_IOCTL_AMDGPU_INFO or DRM_IOCTL_SIS_FB_FREE */ ||
#        arg1 == /* DRM_IOCTL_VERSION */
ioctl: arg1 == 0xc04064a0 || \
       arg1 == 0x40206445 || \
       arg1 == 0xc0406400
lseek: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
newfstatat: 1
openat: 1
pread64: 1
prlimit64: 1
read: 1
restart_syscall: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
set_robust_list: 1
set_tid_address: 1
write: 1
getpid: 1
futex: 1
