# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

brk: 1
clock_getres: 1
clock_gettime: 1
close: 1
connect: 1
exit_group: 1
faccessat: 1
faccessat2: 1
fstat: 1
getdents: 1
getdents64: 1
gettid: 1
gettimeofday: 1
lseek: 1
newfstatat: 1
openat: 1
read: 1
sendto: 1
socket: arg0 == AF_UNIX
stat: 1
write: 1

# For brillo::kLogToStderrIfTty. isatty(0) calls ioctl(0, TCGETS, *).
ioctl: arg0 == 0 && arg1 == TCGETS
fstatfs: 1
getpid: 1
futex: 1
