# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="offline", SUBSYSTEM=="usb", ENV{ERROR}=="DEAD", RUN+="/lib/udev/xhci-restart.sh"
