# Copyright 2017 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Storage script to populate chrome://system and update UMA stats.
After=system-services.target

[Service]
Type=oneshot
ExecStart=/sbin/chromeos-disk-metrics
