type cros_chapsd, domain, chromeos_domain;

domain_auto_trans(cros_init, cros_chapsd_exec, cros_chapsd)
allow cros_chapsd cros_init:fd use;

log_writer(cros_chapsd)
uma_writer(cros_chapsd)
cros_dbus_client(cros_chapsd)
cros_tcsd_client(cros_chapsd)
cros_power_override(cros_chapsd)

r_dir_file(cros_chapsd, cgroup)

allow cros_chapsd self:capability { setuid setgid };

rw_dir_file(cros_chapsd, cros_var_lib_chaps)

allow cros_chapsd {
    cros_stateful_partition
    cros_stateful_partition_unencrypted
}:dir { r_dir_perms };

allow cros_chapsd cros_stateful_partition_unencrypted_profraws:dir { rw_dir_perms };
allow cros_chapsd cros_stateful_partition_unencrypted_profraws:file { create rw_file_perms };

allow cros_chapsd cros_var_lib_chaps:{file dir} { create unlink rename };
allow cros_chapsd cros_var_lock:dir rw_dir_perms;

r_dir_file(cros_chapsd, cros_passwd_file)

r_dir_file(cros_chapsd, sysfs_tpm)

cros_tcp_connect(cros_chapsd)

allow cros_chapsd sysfs:file r_file_perms;

allow cros_chapsd kernel:system module_request;

# SafeFD requires traversing from /
allow cros_chapsd rootfs:dir { r_dir_perms };
allow cros_chapsd cros_run:dir { r_dir_perms };
allow cros_chapsd cros_run_lock:dir { r_dir_perms };
allow cros_chapsd cros_run_lock_power_override:dir { rw_dir_perms };

# TODO(crbug.com/1177773): Replace this with appropriate macro.
allow cros_chapsd cros_run_daemon_store:dir { r_dir_perms };
allow cros_chapsd cros_home_shadow_uid_root:dir { getattr search };
allow cros_chapsd cros_home_root:dir { getattr search };
allow cros_chapsd cros_home:dir { getattr search };
allow cros_chapsd cros_home_shadow_uid_root_chaps:dir create_dir_perms;
allow cros_chapsd cros_home_shadow_uid_root_chaps:file create_file_perms;
dontaudit cros_chapsd cros_home_shadow_uid:dir search;

# TODO(crbug.com/1175203): Find this directory and add a spesific context.
dontaudit cros_chapsd unlabeled:dir search;
