# Copyright 2017 The ChromiumOS Authors
# Distributed under the terms of the GNU General Public License v2

#
# Tag whiskers keyboard on meowth/nocturne as having new top row layout,
# and tell powerd that whiskers is actually "internal" keyboard/touchpad

SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5030", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5030", \
  ENV{POWERD_ROLE}="internal_touchpad"

