ACTION!="add", GOTO="proximity_end"
SUBSYSTEM!="iio", GOTO="proximity_end"
ATTR{name}!="sx9310", GOTO="proximity_end"

DEVPATH=="*/pci0000:00/0000:00:15.1/*", SYMLINK+="proximity-wifi-right"
DEVPATH=="*/pci0000:00/0000:00:19.1/*", SYMLINK+="proximity-wifi-left"

ATTR{events/in_proximity1_USE_CS1_thresh_either_en}="1"

GROUP="power"

LABEL="proximity_end"
