# Side buttons are routed through the internal keyboard. Permit them to be used
# at all times (Chrome should still block other key events while in docked or
# tablet modes), but only allow wakeup while in clamshell modes.
#
# If the volume buttons on the internal keyboard should be inhibited during
# tablet mode, then 93-powerd-tags-keyboard-convertible.rules is a better fit.
ENV{POWERD_ROLE}=="internal_keyboard", ENV{POWERD_TAGS_INHIBIT}=""
ENV{POWERD_ROLE}=="internal_keyboard", ENV{POWERD_TAGS_WAKEUP}="wakeup wakeup_when_laptop wakeup_when_display_off"
