# Enable power save mode for Intel HDA
ACTION=="add", SUBSYSTEM=="module", DEVPATH=="/module/snd_hda_intel", \
  ATTR{parameters/power_save}="10", ATTR{parameters/power_save_controller}="Y"
