# Disable power save mode for Intel HDA (workaround for http://crbug.com/775486)
ACTION=="add|change", SUBSYSTEM=="module", DEVPATH=="/module/snd_hda_intel", \
  ATTR{parameters/power_save}="0", ATTR{parameters/power_save_controller}="N"
