# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

ppoll: 1
read: 1
write: 1
statx: 1
openat: 1
close: 1
fstat: 1
getdents64: 1
ioctl: arg1 == FIOCLEX
pread64: 1
pwrite64: 1
# Disallow mmap with PROT_EXEC set.  The syntax here doesn't allow bit
# negation, thus the manually negated mask constant.
mmap: arg2 in 0xfffffffb
mprotect: arg2 in 0xfffffffb
rt_sigaction: 1
sigaltstack: 1
munmap: 1
utimensat: 1
brk: 1
uname: 1
accept4: 1
mkdirat: 1
sched_getaffinity: 1
getpid: 1
getrlimit: 1
prlimit64: 1
set_robust_list: 1
fcntl: 1
socket: arg0 == AF_UNIX || arg0 == AF_VSOCK
gettimeofday: 1
restart_syscall: 1
exit_group: 1
rt_sigreturn: 1
renameat: 1
ftruncate: 1
connect: 1
madvise: 1
rt_sigprocmask: 1
faccessat: 1
faccessat2: 1
lseek: 1
exit: 1
fdatasync: 1
set_tid_address: 1
listen: 1
# Disallow clone's other than new threads.
clone: arg0 & 0x00010000
fstatfs: 1
linkat: 1
unlinkat: 1
fsync: 1
futex: 1
bind: 1
fchmod: 1
fchmodat: 1
fchown: 1
fchownat: 1
mremap: 1
newfstatat: 1
sendto: 1
readlinkat: 1
recvfrom: 1
clock_gettime: 1
