# Miscellaneous wake enabled devices that needs to be disabled.

# Disable wakes from sd-card on x86 devices.
SUBSYSTEM=="pci", DRIVER=="sdhci-pci", ATTR{power/wakeup}="disabled"
