ENV{POWERD_TAGS_USABLE}!="",  ENV{POWERD_TAGS}+="$env{POWERD_TAGS_USABLE}"
ENV{POWERD_TAGS_WAKEUP}!="",  ENV{POWERD_TAGS}+="$env{POWERD_TAGS_WAKEUP}"
ENV{POWERD_TAGS_INHIBIT}!="", ENV{POWERD_TAGS}+="$env{POWERD_TAGS_INHIBIT}"

# Include the role tag to make it easier to see how devices were classified.
ENV{POWERD_ROLE}!="",         ENV{POWERD_TAGS}+="role_$env{POWERD_ROLE}"

# Apply the "powerd" udev tag to all events that powerd is interested in. powerd
# then filters by this tag.
ENV{POWERD_TAGS}!="",      TAG+="powerd"

# The "powerd" tag needs to be added to subsystems which powerd observes.
SUBSYSTEM=="bluetooth",    TAG+="powerd"
SUBSYSTEM=="drm",          TAG+="powerd"
SUBSYSTEM=="i2c-dev",      TAG+="powerd"
SUBSYSTEM=="iio",          TAG+="powerd"
SUBSYSTEM=="input",        TAG+="powerd"
SUBSYSTEM=="leds",         TAG+="powerd"
SUBSYSTEM=="net",          TAG+="powerd"
SUBSYSTEM=="power_supply", TAG+="powerd"
