# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION!="remove", TEST=="power/wakeup", \
  RUN+="/bin/chown power:power \"$sys/$devpath/power/wakeup\""
ACTION!="remove", TEST=="power/control", \
  RUN+="/bin/chown power:power \"$sys/$devpath/power/control\""
ACTION!="remove", TEST=="power/autosuspend_delay_ms", \
  RUN+="/bin/chown power:power \"$sys/$devpath/power/autosuspend_delay_ms\""
ACTION!="remove", TEST=="inhibited", \
  RUN+="/bin/chown power:power \"$sys/$devpath/inhibited\""

# Allow powerd to read bluetooth host controller identity
ACTION!="remove", SUBSYSTEM=="bluetooth", ENV{DEVTYPE}=="host", \
  TEST=="identity", \
  RUN+="/bin/chown power:power \"$sys/$devpath/identity\""

# Make pluggable keyboard backlights writable by powerd.
ACTION!="remove", SUBSYSTEM=="leds", DEVPATH=="*:kbd_backlight", \
  RUN+="/lib/udev/chown-sysfs-backlight-dir.sh \"$sys/$devpath\""

# Older kernels (<v4.19) put cros_fp under the chromeos class
# The cros_ec-access group is also required by cros_healthd (the associated user
# that is part of the cros_ec-access group is "healthd_ec").
SUBSYSTEM=="chromeos|misc", KERNEL=="cros_ec" OWNER="root", \
  GROUP="cros_ec-access" MODE="0660"
