# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION!="add", GOTO="media_end"
SUBSYSTEM!="video4linux", GOTO="media_end"

ATTR{name}=="qcom-venus-decoder", SYMLINK+="video-dec0"
ATTR{name}=="qcom-venus-encoder", SYMLINK+="video-enc0"

LABEL="media_end"
