# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Use core 1 for processing IPA packets
ACTION=="add|change", KERNEL=="rmnet_ipa[0-9]",ATTR{queues/rx-0/rps_cpus}="2"
# Use cores 2 and 3 for rmnet processing
ACTION=="add|change", KERNEL=="rmnet_data[0-9]",ATTR{queues/rx-0/rps_cpus}="c"
