# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# udev rules for hibernate dm devices.
SUBSYSTEM=="block", KERNEL=="dm-[0-9]*", ENV{DM_NAME}=="hiberimage*", \
    ACTION=="change", GOTO="hiberman_disable_further_udev"
SUBSYSTEM=="block", KERNEL=="dm-[0-9]*", ENV{DM_NAME}=="hiberintegrity*", \
    ACTION=="change", GOTO="hiberman_disable_further_udev"

GOTO="hiberman_dm_end"

LABEL="hiberman_disable_further_udev"
ENV{DM_UDEV_DISABLE_SUBSYSTEM_RULES_FLAG}="1"
ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="1"
ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="1"

LABEL="hiberman_dm_end"
