# Copyright 2018 The ChromiumOS Authors
# Distributed under the terms of the GNU General Public License v2

#
# Tell powerd that staff is actually an "internal" keyboard/touchpad

SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="502b", \
  ENV{POWERD_ROLE}="internal_keyboard"
# For some reason udev thinks the touchpad is either a mouse or a touchscreen
SUBSYSTEM=="input", ENV{ID_INPUT_MOUSE}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="502b", \
  ENV{POWERD_ROLE}="internal_touchpad"

