# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Fill this in if the tool is ever supported on ARM64.
newfstatat: 1
