# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

openat: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
read: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
close: 1
fstat: 1
newfstatat: 1
stat: 1
lseek: 1
brk: 1
rt_sigaction: 1
write: 1
prlimit64: 1
munmap: 1
rt_sigreturn: 1
exit_group: 1
set_tid_address: 1
execve: 1
set_robust_list: 1
rt_sigprocmask: 1
access: 1
faccessat: 1
faccessat2: 1
restart_syscall: 1
exit: 1
arch_prctl: 1
# Definitions for prctl
# PR_SCHED_CORE = 0x3e
# PR_SET_SCHED_CORE = 0x200
prctl: arg0 == 0x200 || arg0 == 0x3e
clock_gettime: 1
