type cros_vm_concierge, domain, chromeos_domain;
permissive cros_vm_concierge;

domain_auto_trans(chromeos, cros_vm_concierge_exec, cros_vm_concierge)

filetrans_pattern(cros_init_scripts, cros_run, cros_run_arcvm, dir, "arcvm")
filetrans_pattern(cros_init_scripts, cros_run_arcvm, testharness_file, dir, "testharness")
filetrans_pattern(cros_init_scripts, cros_run_arcvm, system_data_root_file, dir, "android-data")
