type cros_mojo_service_manager, cros_miscdomain, chromeos_domain, domain;

permissive cros_mojo_service_manager;

domain_auto_trans(minijail, cros_mojo_service_manager_exec, cros_mojo_service_manager)

filetrans_pattern(cros_mojo_service_manager, cros_run_mojo, cros_mojo_service_manager_socket, sock_file)
