type cros_is_running_from_installer, domain, chromeos_domain;

domain_auto_trans(cros_init_scripts, cros_is_running_from_installer_exec, cros_is_running_from_installer)

allow cros_is_running_from_installer cros_init_scripts:fd use;
allow cros_is_running_from_installer cros_init_scripts:fifo_file rw_file_perms;
