type cros_iioservice_test, chromeos_domain, domain;
permissive cros_iioservice_test;

domain_auto_trans(cros_ssh_session, cros_iioservice_test_exec, cros_iioservice_test)
domain_auto_trans(cros_agetty, cros_iioservice_test_exec, cros_iioservice_test)
