# Policy for /usr/bin/hps-factory, which is used to apply HPS firmware updates.
type cros_hps_factory, domain, chromeos_domain, cros_init_scripts_domain;
domain_auto_trans(cros_init_scripts, cros_hps_factory_exec, cros_hps_factory)

log_writer(cros_hps_factory)
allow cros_hps_factory tmpfs:file { read write };
allow cros_hps_factory cros_init_scripts:fd use;
allow cros_hps_factory cros_init_scripts:unix_stream_socket { read write ioctl };

# Access the sensor over i2c.
allow cros_hps_factory cros_hps_device:chr_file { ioctl open read write };
allowxperm cros_hps_factory cros_hps_device:chr_file ioctl {
  I2C_SLAVE
  I2C_SLAVE_FORCE
  I2C_RDWR
  I2C_PEC
  I2C_SMBUS
};

# Bind and unbind the kernel driver.
allow cros_hps_factory sysfs:file { open write };
