type cros_attestationd, domain, chromeos_domain;

permissive cros_attestationd;

domain_auto_trans(cros_init, cros_attestationd_exec, cros_attestationd)
