type cros_health_tool, domain, chromeos_domain;

permissive cros_health_tool;

# Access cros_health_tool over ssh terminal.
domain_auto_trans(cros_ssh_session, cros_health_tool_exec, cros_health_tool)
# Access cros_health_tool over tty terminal.
domain_auto_trans(cros_agetty, cros_health_tool_exec, cros_health_tool)
# Access cros_health_tool over crosh.
domain_auto_trans(cros_browser, cros_health_tool_exec, cros_health_tool)
