# SELinux policy for hpsd.
type cros_hpsd, domain, chromeos_domain;

# Enable sandboxing.
from_minijail_static(cros_hpsd, cros_hpsd_exec)
domain_auto_trans_nnp(minijail, cros_hpsd_exec, cros_hpsd)

# Provide a DBUS service.
cros_dbus_client(cros_hpsd)

# Record metrics and log messages.
uma_writer(cros_hpsd)
log_writer(cros_hpsd)

# Define an object context for the hps device (/dev/i2c-hps-controller).
type cros_hps_device, dev_type, cros_dev_type, cros_labeled_dev_type;

# Access the sensor over i2c.
allow cros_hpsd cros_hps_device:chr_file { ioctl open read write };
allowxperm cros_hpsd cros_hps_device:chr_file ioctl {
  I2C_RDWR
};
