type cros_backlight_tool, chromeos_domain, domain;
permissive cros_backlight_tool;

domain_auto_trans({
  cros_ssh_session
  cros_agetty}, cros_backlight_tool_exec, cros_backlight_tool)
