type cros_ml_service, domain, chromeos_domain;

permissive cros_ml_service;

domain_auto_trans(minijail, cros_ml_service_exec, cros_ml_service)

filetrans_pattern(cros_ml_service, camera_libs_dir, camera_lib, file)
