type cros_recover_duts, domain, chromeos_domain;

permissive cros_recover_duts;

domain_auto_trans(cros_init_scripts, cros_recover_duts_script, cros_recover_duts)
