type cros_brcm_patchram_plus, domain, chromeos_domain;
permissive cros_brcm_patchram_plus;

domain_auto_trans({ cros_init cros_init_scripts }, cros_brcm_patchram_plus_exec, cros_brcm_patchram_plus)
