type cros_ureadahead, chromeos_domain, domain;

domain_auto_trans({ cros_init cros_init_scripts }, cros_ureadahead_exec, cros_ureadahead)

permissive cros_ureadahead;
