type cros_tpm2_simulator, domain, chromeos_domain;
type cros_tpm2_simulator_minijail, domain, chromeos_domain;

permissive cros_tpm2_simulator;
permissive cros_tpm2_simulator_minijail;

domain_auto_trans(cros_init, cros_tpm2_simulator_exec, cros_tpm2_simulator)
domain_auto_trans(cros_tpm2_simulator, cros_minijail_exec, cros_tpm2_simulator_minijail)
