type cros_dlcservice, domain, chromeos_domain;

permissive cros_dlcservice;

domain_auto_trans(minijail, cros_dlcservice_exec, cros_dlcservice)

# SafeFD requires traversing from /
allow cros_dlcservice rootfs:dir { r_dir_perms };
