type cros_ti50-emulator-kernel, domain, chromeos_domain;
type cros_ti50-emulator-tpm2, domain, chromeos_domain;
type cros_ti50-emulator-sys_mgr, domain, chromeos_domain;
type cros_ti50-emulator-pinweaver, domain, chromeos_domain;
type cros_ti50-emulator-u2f, domain, chromeos_domain;
type cros_ti50-emulator-fw_updater, domain, chromeos_domain;
type cros_ti50-emulator-ec_comm, domain, chromeos_domain;

permissive cros_ti50-emulator-kernel;
permissive cros_ti50-emulator-tpm2;
permissive cros_ti50-emulator-sys_mgr;
permissive cros_ti50-emulator-pinweaver;
permissive cros_ti50-emulator-u2f;
permissive cros_ti50-emulator-fw_updater;
permissive cros_ti50-emulator-ec_comm;

domain_auto_trans(cros_tpm2_simulator_minijail, cros_ti50-emulator-kernel_exec, cros_ti50-emulator-kernel)
domain_auto_trans(cros_ti50-emulator-kernel, cros_ti50-emulator-tpm2_exec, cros_ti50-emulator-tpm2)
domain_auto_trans(cros_ti50-emulator-kernel, cros_ti50-emulator-sys_mgr_exec, cros_ti50-emulator-sys_mgr)
domain_auto_trans(cros_ti50-emulator-kernel, cros_ti50-emulator-pinweaver_exec, cros_ti50-emulator-pinweaver)
domain_auto_trans(cros_ti50-emulator-kernel, cros_ti50-emulator-u2f_exec, cros_ti50-emulator-u2f)
domain_auto_trans(cros_ti50-emulator-kernel, cros_ti50-emulator-fw_updater_exec, cros_ti50-emulator-fw_updater)
domain_auto_trans(cros_ti50-emulator-kernel, cros_ti50-emulator-ec_comm_exec, cros_ti50-emulator-ec_comm)
