# Policy for /lib/udev/hps-dev.sh, which sets up the hps i2c controller device.
type cros_hps_udev, domain, chromeos_domain;
domain_auto_trans(cros_udevd, cros_lib_udev_hps-dev_script, cros_hps_udev)

exec_coreutils(cros_hps_udev)
r_dir_file(cros_hps_udev, cros_passwd_file)
allow cros_hps_udev cros_udevd:fd use;
allow cros_hps_udev cros_udevd:fifo_file write;
allow cros_hps_udev device:chr_file { getattr relabelfrom setattr };
allow cros_hps_udev device:dir { add_name write };
allow cros_hps_udev device:lnk_file create;
allow cros_hps_udev cros_hps_device:chr_file relabelto;
allow cros_hps_udev self:capability chown;
