type cros_rmad, domain, chromeos_domain;

permissive cros_rmad;

domain_auto_trans(cros_init, cros_rmad_exec, cros_rmad)

filetrans_pattern(chromeos_startup, cros_var_lib, cros_var_lib_rmad, dir, "rmad")
filetrans_pattern(chromeos_startup, cros_stateful_partition_unencrypted, cros_stateful_partition_unencrypted_rma, dir, "rma-data")
