type cros_vmlog_forwarder, domain, chromeos_domain;
permissive cros_vmlog_forwarder;

domain_auto_trans(minijail, cros_vmlog_forwarder_exec, cros_vmlog_forwarder)
