# Chrome OS User Downloads files.
# For non-ARC++ builds, define cros_downloads_file as a file type.
# For ARC++ builds, alias cros_downloads_file to media_rw_data_file.

no_arc(`type cros_downloads_file, file_type');
has_arc(`typealias media_rw_data_file alias cros_downloads_file');
typeattribute cros_downloads_file cros_file_type, cros_home_file_type;
