type cros_spaced, domain, chromeos_domain;

allow cros_spaced cros_dbus_daemon:unix_stream_socket connectto;
allow cros_spaced cros_passwd_file:file  r_file_perms;
allow cros_spaced cros_run_dbus:dir search;

allow cros_spaced cros_run_lock:dir { add_name create remove_name write };
allow cros_spaced cros_run_lock:file { append create getattr lock open read unlink };
allow cros_spaced cros_var_lock:dir { getattr read search write };

allow cros_spaced cros_run_udev:dir search;
log_writer(cros_spaced)

allow cros_spaced cros_unconfined_exec:file { execute execute_no_trans map };
allow cros_spaced device:blk_file { getattr ioctl open read };
allow cros_spaced device:dir { open read };

allow cros_spaced kmsg_device:chr_file getattr;
allow cros_spaced logger_device:sock_file getattr;

allow cros_spaced minijail:fd use;
allow cros_spaced minijail:fifo_file read;

allow cros_spaced proc_sys_kernel:file read;

allow cros_spaced sysfs:dir { open read };
allow cros_spaced sysfs:file { getattr open read };
allow cros_spaced sysfs_dm:dir { open read search };
allow cros_spaced sysfs_dm:{ file lnk_file } { getattr open read };

allow cros_spaced cros_home_file_type:dir search;
allow cros_spaced cros_run_daemon_store:dir search;

allow cros_spaced cros_system_bus_socket:sock_file write;

allow cros_spaced tmpfs:file { getattr open read write };

# Spaced/LVM iterates through /dev and will try to access the following devices.
dontaudit cros_spaced {
  audio_device
  cros_hps_device
  devpts
  cros_iio_device
  input_device
  mei_device
  tpm_device
  usb_device
}:chr_file getattr;

dontaudit cros_spaced {
  cros_shm
  proc_sys_kernel
  sysfs_zram
}:file getattr;

dontaudit cros_spaced {
  audio_device
  cros_shm
  devpts
  input_device
  sysfs_dm
  sysfs_loop
  sysfs_zram
  usb_device
}:dir { getattr open read search };

# "device" is devtmpfs.
dontaudit cros_spaced device:lnk_file read;

# Remove the arc_cts_fails_release macro for ARCVM devices so that
# cros_spaced is not converted into a permissive domain after being
# flipped to enforcing.
is_arc_vm(`
  allow cros_spaced device:chr_file { getattr ioctl open read write };
  allow cros_spaced self:capability { dac_override fowner setgid setpcap setuid sys_admin};
',`
  arc_cts_fails_release(`
    allow cros_spaced device:chr_file { getattr ioctl open read write };
    allow cros_spaced self:capability { dac_override fowner setgid setpcap setuid sys_admin};
  ', (`cros_spaced'))
')

domain_auto_trans(minijail, cros_spaced_exec, cros_spaced)
