type cros_ipsec_starter, chromeos_domain, domain;

permissive cros_ipsec_starter;

domain_auto_trans(minijail, cros_ipsec_starter_exec, cros_ipsec_starter)
