type cros_permission_broker, domain, chromeos_domain;

permissive cros_permission_broker;

domain_auto_trans(minijail, cros_permission_broker_exec, cros_permission_broker)
