type cros_agetty, domain, chromeos_domain;
permissive cros_agetty;

domain_auto_trans({cros_init cros_init_scripts frecon}, cros_agetty_exec, cros_agetty)
