type cros_spaced_cli, domain, chromeos_domain;

cros_dbus_client(cros_spaced_cli)

allow cros_spaced_cli cros_cryptohomed:fifo_file rw_file_perms;
allow cros_spaced_cli cros_cryptohomed:fd use;
