type cros_wilco_dtc_supportd, domain, chromeos_domain;

permissive cros_wilco_dtc_supportd;

from_minijail_preload(cros_wilco_dtc_supportd, cros_wilco_dtc_supportd_exec)
