# Not part of minijail0 but this process is running under minijail0
# And the file is written via pipe redirect.
# init/powerd.conf
allow minijail cros_powerd_log:file { w_file_perms ioctl };
