type cros_patchpaneld, chromeos_domain, cros_miscdomain, domain;

permissive cros_patchpaneld;


domain_auto_trans(cros_init, cros_patchpaneld_exec, cros_patchpaneld)
