type unconfined_proc, chromeos_domain, domain;

permissive unconfined_proc;

domain_auto_trans(minijail, cros_unconfined_exec, unconfined_proc)
dev_only(
auditallow minijail cros_unconfined_exec:file execute;
)
