# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# These seccomp rules specify the syscalls used by the override_max_pressure.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

# ioctl: arg1 == EVIOCGABS || EVIOCSABS
ioctl: arg1 == 0x80184558 || arg1 == 0x401845d8
openat: 1
getpid: 1

# Basic process functionality.
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
