# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Kernel log anomaly detector

[Service]
Restart=always
ExecStart=/usr/bin/anomaly_detector

[Install]
WantedBy=multi-user.target
