[Unit]
Description=Crash Sender
After=crash-boot-collect.service

[Service]
Type=oneshot
ExecStart=/sbin/crash_sender

[Install]
WantedBy=multi-user.target
