[Unit]
Description=Run per-boot crash collection tasks
After=crash-reporter.service

[Service]
Type=oneshot
ExecStart=/sbin/crash_reporter --boot_collect

[Install]
WantedBy=multi-user.target
