[Unit]
Description=Initialize Crash Reporter
After=local-fs.target syslog.target
Wants=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/crash_reporter --init

[Install]
WantedBy=multi-user.target
