# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Use the run_bio_crypto_init_strace.sh script to generate an initial list
# of syscalls.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

# clone: bio_crypto_init forks a child process
access: 1
faccessat: 1
faccessat2: 1
clock_gettime: 1
clock_nanosleep: 1
clone: 1
close: 1
creat: 1
exit: 1
exit_group: 1
fstat: 1
futex: 1
getpid: 1
gettid: 1
gettimeofday: 1
# ioctl:
# CROS_EC_DEV_IOCXCMD_V2: 0xc014ec00
ioctl: arg1 == 0xc014ec00
# kill: Used to kill hanging child process (Process.Terminate)
kill: 1
lseek: 1
lstat: 1
# madvise, mlock, munlock: For brillo::SecureVector allocator
madvise: 1
mlock: 1
# Don't allow execute and write at the same time
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munlock: 1
munmap: 1
nanosleep: 1
newfstatat: 1
openat: 1
read: 1
readlink: 1
readlinkat: 1
rename: 1
restart_syscall: 1
rt_sigreturn: 1
set_robust_list: 1
stat: 1
statfs: 1
symlink: 1
unlink: 1
wait4: 1
write: 1
fstatfs: 1
