# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Use the run_biod_strace.sh script to generate an initial list of syscalls.

# Don't allow execute and write at the same time
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
openat: 1
read: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
write: 1
close: 1
epoll_pwait: 1
recvmsg: 1
fstat: 1
getpid: 1
ppoll: 1
# ioctl:
# UI_DEV_CREATE: 0x5501
# UI_DEV_DESTROY: 0x5502
# UI_DEV_SETUP: 0x405c5503
# UI_SET_EVBIT: 0x40045564
# UI_SET_KEYBIT: 0x40045565
# CROS_EC_DEV_IOCXCMD_V2: 0xc014ec00
# CROS_EC_DEV_IOCEVENTMASK_V2: 0xec02
ioctl: arg1 == 0x5501 || arg1 == 0x5502 || arg1 == 0x405c5503 || arg1 == 0x40045564 || arg1 == 0x40045565 || arg1 == 0xc014ec00 || arg1 == 0xec02
newfstatat: 1
sendmsg: 1
flock: 1
geteuid: 1
brk: 1
getrandom: 1
getuid: 1
getgid: 1
getegid: 1
sendto: 1
faccessat: 1
faccessat2: 1
epoll_ctl: 1
rt_sigaction: 1
lseek: 1
pipe2: 1
fcntl: 1
munmap: 1
set_tid_address: 1
set_robust_list: 1
rt_sigprocmask: 1
prlimit64: 1
readlinkat: 1
unlinkat: 1
renameat: 1
symlinkat: 1
epoll_create1: 1
getresuid: 1
getresgid: 1
socket: arg0 == AF_UNIX
connect: 1
getsockname: 1
uname: 1
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
gettid: 1
nanosleep: 1
clock_nanosleep: 1
gettimeofday: 1
clock_gettime: 1
madvise: 1
mlock: 1
munlock: 1
# fchown is needed to request DBus name org.chromium.BiometricsDaemon.
fchown: 1
umask: 1
mkdirat: 1
# getdents64 and fdatasync are needed to write records to daemon store.
getdents64: 1
fdatasync: 1
# tgkill: Used for direct abort and CHECK()/LOG(FATAL).
tgkill: 1
# futex: Used by CHECK()/LOG(FATAL).
futex: 1
fstatfs: 1
