# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
[D-BUS Service]
Name=org.chromium.Kerberos
Exec=/sbin/start kerberosd
User=root
