ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="sx932x", \
DEVPATH=="*/pci0000:00/0000:00:19.1/*", SYMLINK+="proximity-lte-wifi", \
ATTR{events/in_proximity1_UC1_thresh_either_en}="1", GROUP="power"