# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

accept: 1
bind: 1
brk: 1
clock_gettime: 1
clock_nanosleep: 1
clone: 1
close: 1
connect: 1
dup: 1
epoll_create1: 1
epoll_ctl: 1
epoll_pwait: 1
eventfd2: 1
execve: 1
exit: 1
exit_group: 1
faccessat: 1
faccessat2: 1
fcntl: 1
fstat: 1
newfstatat: 1
fstatfs: 1
futex: 1
getdents64: 1
getegid: 1
geteuid: 1
getgid: 1
getpid: 1
getpriority: 1
getrandom: 1
getsockopt: 1
gettid: 1
gettimeofday: 1
getuid: 1
ioctl: arg1 == SIOCGIFFLAGS || arg1 == SIOCSIFFLAGS || arg1 == TCGETS || \
       arg1 == TIOCGWINSZ || arg1 == TIOCGPGRP || arg1 == 0x8004 || \
       arg1 == 0x40048001 || arg1 == 0x40088007 || arg1 == 0x40088026 || \
       arg1 == 0x40108002 || arg1 == 0x40108003 || arg1 == 0x40108014 || \
       arg1 == 0x4010801b || arg1 == 0x4020800f || arg1 == 0x40208018 || \
       arg1 == 0x80048011 || arg1 == 0xc0018036 || arg1 == 0xc0048000 || \
       arg1 == 0xc0208005 || arg1 == 0xc0246400 || arg1 == 0xc0106442 || \
       arg1 == 0x40086409 || arg1 == 0xc0106440 || arg1 == 0xc00c644a || \
       arg1 == 0xc0186443 || arg1 == 0xc010640c || arg1 == 0xc018644c || \
       arg1 == 0xc00c6448 || arg1 == 0xc0486446 || arg1 == 0x40206447 || \
       arg1 == 0xc00c642e || arg1 == 0x4004644b || arg1 == 0xc0186440 || \
       arg1 == 0xc0406400
kcmp: 1
kill: 1
listen: 1
lseek: 1
madvise: 1
memfd_create: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
nanosleep: 1
openat: 1
pipe2: 1
ppoll: 1
prctl: arg0 == PR_SET_NAME
pread64: 1
read: 1
readlinkat: 1
recvmsg: 1
restart_syscall: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
sched_getaffinity: 1
sched_getattr: 1
sched_setaffinity: 1
sched_setattr: 1
sched_setscheduler: 1
sched_yield: 1
sendmsg: 1
sendto: 1
setgroups: 1
setpriority: 1
setresgid: 1
setresuid: 1
set_robust_list: 1
set_tid_address: 1
shutdown: 1
sigaltstack: 1
socket: arg0 == AF_UNIX
statx: 1
sysinfo: 1
tgkill: 1
prlimit64: 1
uname: 1
unlinkat: 1
wait4: 1
write: 1
writev: 1
