# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

accept: 1
access: 1
arch_prctl: 1
bind: 1
brk: 1
clock_getres: 1
clock_gettime: 1
clock_nanosleep: 1
clone: 1
close: 1
connect: 1
creat: 1
dup: 1
epoll_create1: 1
epoll_ctl: 1
epoll_wait: 1
eventfd2: 1
execve: 1
exit: 1
exit_group: 1
faccessat: 1
faccessat2: 1
fcntl: 1
fstat: 1
fstatfs: 1
futex: 1
getdents: 1
getdents64: 1
getegid: 1
geteuid: 1
getgid: 1
getpid: 1
getpriority: 1
getrandom: 1
gettid: 1
gettimeofday: 1
getuid: 1
# ioctl values:
#   0x5401     == TCGETS
#   0x6458     == DRM_IOCTL_I915_GEM_THROTTLE
#   0x40046460 == DRM_IOCTL_I915_GEM_SW_FINISH
#   0x40086409 == DRM_IOCTL_GEM_CLOSE
#   0x400c645f == DRM_IOCTL_I915_GEM_SET_DOMAIN
#   0x4020645d == DRM_IOCTL_I915_GEM_PWRITE
#   0x40406469 == DRM_IOCTL_I915_GEM_EXECBUFFER2
#   0x80106463 == DRM_IOCTL_I915_GEM_GET_APERTURE
#   0xc0086457 == DRM_IOCTL_I915_GEM_BUSY
#   0xc008646d == DRM_IOCTL_I915_GEM_CONTEXT_CREATE
#   0xc00c6466 == DRM_IOCTL_I915_GEM_MADVISE
#   0xc0106446 == DRM_IOCTL_I915_GETPARAM
#   0xc010645b == DRM_IOCTL_I915_GEM_CREATE
#   0xc0106461 == DRM_IOCTL_I915_GEM_SET_TILING
#   0xc010646c == DRM_IOCTL_I915_GEM_WAIT
#   0xc0106471 == DRM_IOCTL_I915_REG_READ
#   0xc0106479 == DRM_IOCTL_I915_QUERY
#   0xc0186472 == DRM_IOCTL_I915_GET_RESET_STATS
#   0xc0186473 == DRM_IOCTL_I915_GEM_USERPTR
#   0xc0186474 == DRM_IOCTL_I915_GEM_CONTEXT_GETPARAM
#   0xc0186475 == DRM_IOCTL_I915_GEM_CONTEXT_SETPARAM
#   0xc028645e == DRM_IOCTL_I915_GEM_MMAP
#   0xc0406400 == DRM_IOCTL_VERSION
#   0xc0406469 == DRM_IOCTL_I915_GEM_EXECBUFFER2_WR
#   0xc0206464 == DRM_IOCTL_I915_GEM_MMAP_OFFSET
ioctl: arg1 == 0x5401 || arg1 == 0x6458 || arg1 == 0x40046460 || \
       arg1 == 0x40086409 || arg1 == 0x400c645f || arg1 == 0x4020645d || \
       arg1 == 0x40406469 || arg1 == 0x80106463 || arg1 == 0xc0086457 || \
       arg1 == 0xc008646d || arg1 == 0xc00c6466 || arg1 == 0xc0106446 || \
       arg1 == 0xc010645b || arg1 == 0xc0106461 || arg1 == 0xc0106471 || \
       arg1 == 0xc0106479 || arg1 == 0xc0186472 || arg1 == 0xc0186474 || \
       arg1 == 0xc0186475 || arg1 == 0xc0206464 || arg1 == 0xc028645e || \
       arg1 == 0xc0406400 || arg1 == 0xc010646c || arg1 == 0xc0186473 || \
       arg1 == 0xc0406469
kill: 1
listen: 1
lseek: 1
lstat: 1
madvise: 1
memfd_create: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
newfstatat: 1
openat: 1
pipe2: 1
poll: 1
prctl: arg0 == PR_SET_NAME
pread64: 1
prlimit64: 1
read: 1
readlink: 1
readlinkat: 1
recvmsg: 1
restart_syscall: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
sched_getaffinity: 1
sched_setaffinity: 1
sched_setscheduler: 1
sched_yield: 1
sendto: 1
set_robust_list: 1
set_tid_address: 1
setpriority: 1
shutdown: 1
sigaltstack: 1
socket: arg0 == AF_UNIX
stat: 1
sysinfo: 1
tgkill: 1
uname: 1
unlink: 1
wait4: 1
write: 1
writev: 1
sched_getattr: 1
