# Copyright 2017 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

accept: 1
access: 1
arch_prctl: 1
bind: 1
brk: 1
clock_gettime: 1
clock_nanosleep: 1
clone: 1
close: 1
connect: 1
creat: 1
epoll_create1: 1
epoll_ctl: 1
epoll_wait: 1
eventfd2: 1
# Need execve because we run minijail with -Tstatic.
# Ref: https://crrev.com/c/1958258/comments/fbcc6367_4d74475c
execve: 1
exit: 1
exit_group: 1
faccessat: 1
faccessat2: 1
fcntl: 1
fstat: 1
futex: 1
getdents: 1
getdents64: 1
getegid: 1
geteuid: 1
getgid: 1
getpid: 1
getrandom: 1
gettid: 1
gettimeofday: 1
getuid: 1
ioctl: arg1 == TCGETS
kill: 1
listen: 1
lseek: 1
madvise: 1
memfd_create: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
newfstatat: 1
open: 1
openat: 1
pipe2: 1
prctl: 1
pread64: 1
prlimit64: 1
read: 1
readlink: 1
readlinkat: 1
recvmsg: 1
restart_syscall: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
sched_getaffinity: 1
sched_setaffinity: 1
sendto: 1
set_robust_list: 1
set_tid_address: 1
setpriority: 1
sigaltstack: 1
socket: arg0 == AF_UNIX
stat: 1
uname: 1
unlink: 1
wait4: 1
write: 1
fstatfs: 1
writev: 1
sched_getattr: 1
