/*
 * Copyright 2021 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.option {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

.option-info {
  display: inline-block;
  position: relative;
  width: 100%;
}

.option-name {
  display: inline-block;
}

.option-summary {
  background-color: #FDF5E6;
  border-radius: 6px;
  color: #708090;
  margin-left: 10px;
  padding: 5px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.option-info:hover .option-summary {
  visibility: visible;
}

.option-control {
  align-items: center;
  display: block;
  padding: 5px;
  width: 100%;
}
