* {
  background-color: #696969;
  color: #FFFFF0;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-style: italic;
}
