/*
 * Copyright 2021 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.text-input {
  text-align: center;
  width: 4em;
}

.range-slider {
  -webkit-appearance: none;
  -webkit-transition: .2s;
  background-color: #A9A9A9;
  border-radius: 5px;
  height: 10px;
  opacity: 0.7;
  outline: none;
  transition: opacity .2s;
  width: 200px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFFF0;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
