/*
 * Copyright 2021 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* The switch - the box around the slider */
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 36px;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The switch slider */
.slider {
  background-color: #A9A9A9;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .1s;
}

.slider:before {
  background-color: #FFF;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: .1s;
  width: 16px;
}

input:checked + .slider {
  background-color: #4682B4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4682B4;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded switch sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
