# Copyright 2019 The ChromiumOS Authors
# Distributed under the terms of the GNU General Public License v2

#
# Tag internal keyboard on Drallion as having new top row layout.
#
ACTION=="add", SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", DRIVERS=="atkbd", ENV{CROS_KEYBOARD_TOP_ROW_LAYOUT}="4"
