# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Start the Chaps daemon (chapsd)
After=tpm_managerd.service boot-services.target
PartOf=boot-services.target

[Service]
Restart=always
ExecStart=/usr/sbin/chapsd --auto_load_system_token
