execute_file_follow_link(cros_init_scripts_domain, sh_exec)
exec_coreutils(cros_init_scripts_domain)
r_dir_file(cros_init_scripts_domain, cros_init_shell_scripts)
allow cros_init_scripts_domain cros_init_scripts_file_type:file r_file_perms;
