type cros_powerd_pre_start, chromeos_domain, domain, cros_init_scripts_domain;

permissive cros_powerd_pre_start;

domain_auto_trans({cros_init cros_init_scripts}, cros_init_powerd_pre_start_script, cros_powerd_pre_start)
filetrans_pattern(cros_powerd_pre_start, cros_var_lib, cros_var_lib_power_manager, dir, "power_manager")
filetrans_pattern(cros_powerd_pre_start, cros_run, cros_run_power_manager, dir, "power_manager")
filetrans_pattern(cros_powerd_pre_start, cros_var_spool, cros_var_spool_power_manager, dir, "power_manager")
