type cros_init_start_bluetoothlog, chromeos_domain, domain, cros_init_scripts_domain;

permissive cros_init_start_bluetoothlog;

domain_auto_trans(cros_init, cros_init_start_bluetoothlog_shell_script, cros_init_start_bluetoothlog)
