type cros_crx_import, chromeos_domain, domain, cros_init_scripts_domain;

permissive cros_crx_import;

domain_auto_trans({cros_init cros_init_scripts}, cros_init_crx_import_script, cros_crx_import)
