type cros_init_sshd_pre, domain, chromeos_domain, cros_init_scripts_domain;

permissive cros_init_sshd_pre;

domain_auto_trans(cros_init, cros_init_sshd_pre_shell_script, cros_init_sshd_pre)
exec_coreutils(cros_init_sshd_pre_shell_script)
