# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This file lists out the seccomp policy for allowed syscalls on arc-adbd
# when it works with arcvm

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

# TODO(yusukes): populate the file.

