type cros_memd, chromeos_domain, domain;

permissive cros_memd;

domain_auto_trans(minijail, cros_memd_exec, cros_memd)

log_writer(cros_memd)
cros_dbus_client(cros_memd)
