type cros_session_manager, chromeos_domain, cros_miscdomain, domain;

permissive cros_session_manager;

domain_auto_trans(cros_init_scripts, cros_session_manager_exec, cros_session_manager)

uma_writer(cros_session_manager)
log_writer(cros_session_manager)
cros_dbus_client(cros_session_manager)
cros_net(cros_session_manager)
cros_run_camera_creator(cros_session_manager)


filetrans_pattern(cros_session_manager, cros_var_lib, cros_var_lib_devicesettings, dir, "whitelist")
filetrans_pattern(cros_session_manager, cros_var_lib, cros_var_lib_devicesettings, dir, "devicesettings")
filetrans_pattern(cros_session_manager, cros_run, debugfs, dir, "debugfs_gpu")
filetrans_pattern(cros_session_manager, cros_run, cros_run_session_manager, dir, "session_manager")

# rest of /run file created by session manager, e.g. state, user_policy.
filetrans_pattern(cros_session_manager, cros_run, cros_run_session_manager, dir)

filetrans_pattern(cros_session_manager, cros_var_log, cros_var_log_chrome, dir, "chrome")
filetrans_pattern(cros_session_manager, cros_home_shadow_uid_root, cros_home_shadow_uid_root_session_manager, dir, "session_manager")
