type cros_cronista, chromeos_domain, domain;

permissive cros_cronista;

domain_auto_trans(minijail, cros_cronista_exec, cros_cronista)

log_writer(cros_cronista)

cros_dbus_client(cros_cronista)
