type cros_upstart_socket_bridge, chromeos_domain, domain;

permissive cros_upstart_socket_bridge;

domain_auto_trans(cros_init, upstart_socket_bridge_exec, cros_upstart_socket_bridge)
