type cros_tlsdated, chromeos_domain, domain;

permissive cros_tlsdated;

domain_auto_trans(minijail, cros_tlsdated_exec, cros_tlsdated)
log_writer(cros_tlsdated)
cros_dbus_client(cros_tlsdated)
