# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Create validated caches of lockbox protected files
After=ui.target

[Service]
Type=oneshot
Environment=LOCKBOX_CACHE_DIR=/run/lockbox
Environment=LOCKBOX_NVRAM_FILE=/tmp/lockbox.nvram
Environment=INSTALL_ATTRS_CACHE=/run/lockbox/install_attributes.pb
Environment=INSTALL_ATTRS_FILE=/home/.shadow/install_attributes.pb
ExecStart=/usr/share/cros/init/lockbox-cache.sh
