ACTION=="add", KERNEL=="hidraw[0-9]*", ATTRS{idVendor}=="1fd2", ATTRS{idProduct}=="8103", RUN+="/opt/google/touch/scripts/melfas-usb-udev-trigger.sh '%E{DEVNAME}'"

