# Copyright 2018 The ChromiumOS Authors
# Distributed under the terms of the GNU General Public License v2

# Kalista uses USB touchscreen controller, whitelist the touchscreen
# controlled by vid/pid.
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHSCREEN}=="1", SUBSYSTEMS=="usb", \
  ATTRS{idVendor}=="1fd2", ATTRS{idProduct}=="8103", \
  ENV{POWERD_ROLE}="internal_touchscreen"

