# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

rseq: 1
epoll_wait: 1
epoll_ctl: 1
gettid: 1
write: 1
# Allowed ioctls are: CEC_ADAP_G_CAPS, CEC_DQEVENT, CEC_S_MODE, CEC_RECEIVE, CEC_ADAP_G_LOG_ADDRS, CEC_TRANSMIT, CEC_ADAP_S_LOG_ADDRS, TCGETS
ioctl: arg1 == 0xc04c6100 || arg1 == 0xc0506107 || arg1 == 0x40046109 || arg1 == 0xc0386106 || arg1 == 0x805c6103 || arg1 == 0xc0386105 || arg1 == 0xc05c6104 || arg1 == TCGETS
sendto: 1
read: 1
recvmsg: 1
close: 1
getrandom: 1
openat: 1
epoll_create: 1
sendmsg: 1
lstat: 1
fstat: 1
poll: 1
rt_sigprocmask: 1
getdents: 1
getdents64: 1
geteuid: 1
getuid: 1
getgid: 1
getegid: 1
signalfd4: 1
access: 1
readlinkat: 1
socket: arg0 == AF_UNIX || arg0 == AF_NETLINK
pipe2: 1
connect: 1
fcntl: 1
getsockname: 1
setsockopt: 1
brk: 1
epoll_create1: 1
clock_getres: 1
getresuid: 1
getresgid: 1
bind: 1
getpid: 1
lseek: 1
exit_group: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
faccessat: 1
faccessat2: 1
newfstatat: 1
readlink: 1
# Don't allow mmap with both PROT_WRITE and PROT_EXEC.
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
