# Copyright 2019 The ChromiumOS Authors
# Distributed under the terms of the GNU General Public License v2

#
# Tell powerd that magnemite/masterball/moonball/don are actually "internal"
# keyboard/touchpad

SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="503c", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="503d", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5044", \
  ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5050", \
  ENV{POWERD_ROLE}="internal_keyboard"

SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="503c", \
  ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5044", \
  ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5050", \
  ENV{POWERD_ROLE}="internal_touchpad"
# No touchpad on magnemite
