# Copyright 2019 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add", ENV{ID_MODEL}=="Hammer", SUBSYSTEM=="usb", \
  DEVPATH=="/devices/platform/soc/11201000.usb/11200000.xhci/usb1/1-1/1-1.1", \
  RUN+="/sbin/initctl emit --no-wait hammer-device-added"
