# Keep track of USB devices that should be allow-listed at the lock screen.
ACTION=="add", DRIVER=="usb", RUN+="/usr/sbin/usb_bouncer --fork udev add '%E{DEVPATH}' '%E{DEVNUM}' '%E{PRODUCT}'"
ACTION=="remove", ENV{DEVTYPE}=="usb_device", RUN+="/usr/sbin/usb_bouncer --fork udev remove '%E{DEVPATH}' '%E{DEVNUM}' '%E{PRODUCT}'"
ACTION=="change", ENV{ERROR_CODE}!="", ENV{ERROR_CODE}!="0" RUN+="/usr/sbin/usb_bouncer report_error '%E{SUBSYSTEM}' '%E{DEVPATH}' -- '%E{ERROR_CODE}'"
