# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

futex: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
openat: 1
newfstatat: 1
read: 1
close: 1
write: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
fstatfs: 1
munmap: 1
rt_sigprocmask: 1
poll: 1
readlink: 1
brk: 1
rt_sigaction: 1
pread64: 1
getdents64: 1
fcntl: 1
set_robust_list: 1
rseq: 1
access: 1
eventfd2: 1
clone: 1
gettid: 1
sched_setattr: 1
prctl: arg0 == PR_SET_NAME
execve: 1
arch_prctl: 1
set_tid_address: 1
prlimit64: 1
getrandom: 1
sched_getattr: 1
statx: 1
lseek: 1
socket: arg0 == AF_UNIX
connect: 1
exit_group: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
ioctl: arg1 == TCGETS
