# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=User marking as logged in

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /run/state/logged-in

[Install]
WantedBy=start-user-session.target
