# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=User marking as logged out

[Service]
Type=oneshot
ExecStart=/bin/rm -f /run/state/logged-in
