# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Extract Chrome OS machine info for Enterprise enrollment
PartOf=ui.service
Before=ui.service
Conflicts=start-user-session.target

[Service]
# It is expected to exit before starting ui.service.
Type=oneshot
Environment=MACHINE_INFO=/tmp/machine-info
ExecStart=/usr/share/cros/init/write-machine-info
ExecStopPost=/bin/rm -f ${MACHINE_INFO}

[Install]
WantedBy=ui.service
