# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Report UMA statistics each time login prompt is shown

[Service]
Type=oneshot
ExecStart=/usr/share/cros/init/send-uptime-metrics

[Install]
WantedBy=login-prompt-visible.target
