# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Collect machine information for session_manager
Wants=ui-init-late.service
After=system-services.target
Before=ui-init-late.service

[Service]
Type=oneshot
ExecStart=/usr/share/cros/init/ui-collect-machine-info

[Install]
WantedBy=system-services.target
