# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Supplemental session_manager initialization after boot
After=ui-collect-machine-info.service

[Service]
Type=oneshot
ExecStart=/usr/share/cros/init/ui-init-late

[Install]
WantedBy=login-prompt-visible.target
