# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This file lists out the seccomp policy for allowed syscalls for
# HandwritingModel.

brk: 1
clock_gettime: 1
close: 1
connect: 1
epoll_ctl: 1
epoll_pwait: 1
eventfd2: 1
exit_group: 1
faccessat: 1
faccessat2: 1
flock: 1
fstatfs: 1
futex: 1
getpid: 1
# Filter arg2 to disallow GRND_RANDOM (2).
getrandom: arg2 in 0xfffffffd
gettid: 1
gettimeofday: 1
lseek: 1
memfd_create: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
newfstatat: 1
openat: 1
read: 1
readlinkat: 1
recvmsg: 1
rt_sigprocmask: 1
sched_getaffinity: 1
sched_getscheduler: 1
sendto: 1
socket: arg0 == AF_UNIX
sysinfo: 1
uname: 1
write: 1
