# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add", ENV{ID_MODEL}=="Hammer", SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", \
  DEVPATH=="/devices/platform/soc/11280000.usb/usb3/3-1/3-1.*", \
  RUN+="/sbin/initctl emit --no-wait hammer-device-added"
