ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="sx932x", \
DEVPATH=="*/AMDI0010:00/i2c-0/i2c-STH9324:00/*", SYMLINK+="proximity-lte-wifi", \
ATTR{events/in_proximity0_UC0_thresh_either_en}="1", GROUP="power"
