# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
ACTION=="add", DEVPATH=="/devices/platform/INT3452:01/gpiochip1/gpio/gpio395", \
    RUN+="/bin/chown modem:modem /sys/class/gpio/gpio395/direction /sys/class/gpio/gpio395/value"
