# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

nanosleep: 1
clock_nanosleep: 1
gettid: 1
read: 1
epoll_wait: 1
lstat: 1
write: 1
epoll_ctl: 1
fstat: 1
newfstatat: 1
openat: 1
close: 1
sendto: 1
getrandom: 1
recvmsg: 1
getdents: 1
getdents64: 1
readlink: 1
readlinkat: 1
stat: 1
access: 1
faccessat: 1
faccessat2: 1
getuid: 1
geteuid: 1
getgid: 1
getegid: 1
pipe2: 1
brk: 1
setsockopt: 1
lseek: 1
connect: 1
epoll_create1: 1
getpid: 1
# Used for syslog and D-Bus IPC
socket: arg0 == AF_UNIX || arg0 == AF_NETLINK
bind: 1
getsockname: 1
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
poll: 1
rt_sigprocmask: 1
signalfd4: 1
sendmsg: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
fcntl: 1
mprotect: arg2 in ~PROT_EXEC
futex: 1
clock_getres: 1
getresuid: 1
getresgid: 1
munmap: 1
flock: 1
fstatfs: 1
clock_gettime: 1
gettimeofday: 1
process_vm_readv: 1
rt_sigaction: 1
lchown: 1
uname: 1
fchmod: 1
