env EC_IMAGE_PATH="/lib/firmware/myfirmware.fw"
env TOUCHPAD_IMAGE_PATH="/lib/firmware/myfirmware-touchpad.fw"
env VENDOR_ID=4660  # 0x123
env PRODUCT_ID=74565  # 0x1234
env USB_PATH=1-2.3
env AUTOSUSPEND_DELAY_MS="1000"
