type cros_virtual_file_provider, domain, chromeos_domain, cros_miscdomain;
type cros_virtual_file_provider_jailed, domain, chromeos_domain, cros_miscdomain;

permissive cros_virtual_file_provider;
permissive cros_virtual_file_provider_jailed;

domain_auto_trans({cros_init cros_init_scripts}, cros_virtual_file_provider_jailed_exec, cros_virtual_file_provider_jailed)
chain_minijail0_preload(cros_virtual_file_provider_jailed, cros_virtual_file_provider_exec, cros_virtual_file_provider)
