type cros_apk_cache_cleaner_jailed, chromeos_domain, domain;

permissive cros_apk_cache_cleaner_jailed;

cros_cron(cros_apk_cache_cleaner_jailed, cros_apk_cache_cleaner_jailed_exec)
