# Identify a USB printer and set the group permissions so that it can be
# accessed by CUPS and lorgnette without having to run as root.
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", \
  ENV{ID_USB_INTERFACES}=="*:0701??:*", OWNER="root", GROUP="usbprinter", \
  MODE="0660"
