# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Older kernels (<v4.19) put cros_fp under the chromeos class
SUBSYSTEM=="chromeos|misc", KERNEL=="cros_fp" OWNER="root", GROUP="fpdev" \
  MODE="0660"
