type frecon, domain, chromeos_domain;

permissive frecon;

domain_auto_trans(cros_init_scripts, frecon_exec, frecon)

has_arc(
typeattribute frecon netdomain;
)

filetrans_pattern(frecon, cros_run, cros_run_frecon, dir, "frecon")
