# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
Host *
  UserKnownHostsFile /dev/null
  CheckHostIP no
  StrictHostKeyChecking no
  IdentityFile %d/.ssh/mobbase_id_rsa
  Protocol 2
