# Copyright 2018 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This file lists out the seccomp policy for allowed syscalls on bootlockboxd
# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

gettid: 1
mmap: arg2 == PROT_READ || arg2 == PROT_READ|PROT_EXEC || arg2 == PROT_READ|PROT_WRITE || arg2 == PROT_NONE
open: 1
openat: 1
mprotect: arg2 == PROT_READ || arg2 == PROT_NONE || arg2 == PROT_READ|PROT_WRITE
read: 1
close: 1
fstat: 1
newfstatat: 1
epoll_wait: 1
poll: 1
recvmsg: 1
geteuid: 1
sendto: 1
sendmsg: 1
getpid: 1
getgid: 1
getegid: 1
getuid: 1
rt_sigprocmask: 1
write: 1
stat: 1
futex: 1
epoll_ctl: 1
brk: 1
signalfd4: 1
fcntl: 1
pipe2: 1
connect: 1
access: 1
faccessat: 1
faccessat2: 1
socket: arg0 == AF_UNIX
munmap: 1
rt_sigaction: 1
epoll_create1: 1
getsockname: 1
set_robust_list: 1
fdatasync: 1
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
rename: 1
lseek: 1
getresuid: 1
uname: 1
prctl: arg0 == PR_SET_NAME
clock_getres: 1
getresgid: 1
arch_prctl: 1
setpriority: 1
getrlimit: 1
prlimit64: arg2 == 0 && arg3 != 0
set_tid_address: 1
clone: 1
sysinfo: 1
gettimeofday: 1
clock_gettime: 1
getrandom: 1
madvise: 1
mlock: 1
munlock: 1
flock: 1
nanosleep: 1
clock_nanosleep: 1

# tgkill is used by abort() and CHECK()/LOG(FATAL).
tgkill: arg2 == SIGABRT
fstatfs: 1

process_vm_readv: 1
