# Disable boost mode for the DMC frequency governor.
ACTION=="add", SUBSYSTEM=="devfreq", ATTR{governor}=="rk3399-dfi", \
  ATTR{rk3399-dfi/boosted_target_load}="$attr{rk3399-dfi/target_load}"
