# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Give the group "rgbkbd" access to the Vell RGB keyboard.
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", \
  ATTR{idVendor}=="18d1", ATTR{idProduct}=="5022", GROUP="rgbkbd", \
  MODE="0660", ACTION!="remove"

KERNEL=="cros_ec", GROUP="cros_ec-access", MODE="0660"
