# Copyright 2017 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Make sure that crosvm and sysvm have access to the VM-related nodes in /dev.
KERNEL=="kvm", GROUP="virtaccess", MODE="0660"
KERNEL=="vhost-vsock", GROUP="virtaccess", MODE="0660"

# Make sure that crosvm have access to userfaultfd required by the vmm-swap.
KERNEL=="userfaultfd", GROUP="virtaccess", MODE="0440"

# Make sure that crosvm virtio vhost-user backend processes can access
# the dGPU pci devices via VFIO.
SUBSYSTEM=="vfio", GROUP="virtaccess", MODE="0660"
