SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x51c8", ATTR{class}=="0x040100", PROGRAM=="/usr/bin/cros_config / name", RESULT=="mithrax", RUN+="/sbin/modprobe snd_sof_pci tplg_path=intel/sof-tplg/pdm1"
