# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

clock_getres: 1
clock_gettime: 1
gettimeofday: 1
connect: 1
socket: arg0 == AF_UNIX
brk: 1
close: 1
epoll_create1: 1
epoll_ctl: 1
epoll_pwait: 1
eventfd2: 1
fcntl: 1
getdents64: 1
getegid: 1
geteuid: 1
getgid: 1
getpid: 1
getrandom: 1
gettid: 1
getuid: 1
# ioctl values:
#   0x40048001 == _IOC(_IOC_WRITE, 0x80, 0x1, 0x4)
#   0x40088026 == _IOC(_IOC_WRITE, 0x80, 0x26, 0x8)
#   0x40108003 == _IOC(_IOC_WRITE, 0x80, 0x3, 0x10)
#   0x40108014 == _IOC(_IOC_WRITE, 0x80, 0x14, 0x10)
#   0x40208018 == _IOC(_IOC_WRITE, 0x80, 0x18, 0x20)
#   0x4018800e == _IOC(_IOC_WRITE, 0x80, 0xe, 0x18)
#   0x80048011 == _IOC(_IOC_READ, 0x80, 0x11, 0x4)
#   0xc0018036 == _IOC(_IOC_READ|_IOC_WRITE, 0x80, 0x36, 0x1)
#   0xc0048000 == _IOC(_IOC_READ|_IOC_WRITE, 0x80, 0, 0x4)
#   0xc0186440 == _IOC(_IOC_READ|_IOC_WRITE, 0x64, 0x40, 0x18)
#   0xc0208005 == _IOC(_IOC_READ|_IOC_WRITE, 0x80, 0x5, 0x20)
#   0x40086409 == DRM_IOCTL_GEM_CLOSE
#   0xc00c644a == DRM_IOCTL_MSM_SUBMITQUEUE_NEW
#   0xc00c6448 == DRM_IOCTL_MSM_GEM_MADVISE or DRM_IOCTL_PANFROST_MADVISE
#   0xc0106442 == DRM_IOCTL_AMDGPU_CTX or DRM_IOCTL_ETNAVIV_GEM_NEW or
#                 DRM_IOCTL_LIMA_GEM_INFO or DRM_IOCTL_MSM_GEM_NEW or
#                 DRM_IOCTL_V3D_CREATE_BO or DRM_IOCTL_VC4_WAIT_BO
#   0xc018644c == DRM_IOCTL_VC4_PERFMON_CREATE
#   0xc010640c == DRM_IOCTL_GET_CAP
#   0xc0186443 == DRM_IOCTL_AMDGPU_BO_LIST or DRM_IOCTL_MSM_GEM_INFO
#   0xc0106440 == DRM_IOCTL_ETNAVIV_GET_PARAM or DRM_IOCTL_EXYNOS_GEM_CREATE or
#                 DRM_IOCTL_LIMA_GET_PARAM or DRM_IOCTL_MSM_GET_PARAM or
#                 DRM_IOCTL_OMAP_GET_PARAM or DRM_IOCTL_TEGRA_GEM_CREATE
#   0xc0406400 == DRM_IOCTL_VERSION
#   0x4004644b == DRM_IOCTL_MSM_SUBMITQUEUE_CLOSE
#   0xc04064a0 == DRM_IOCTL_MODE_GETRESOURCES
#   0xc04064aa == DRM_IOCTL_MODE_GETPROPERTY
#   0xc05064a7 == DRM_IOCTL_MODE_GETCONNECTOR
#   0xc01464a6 == DRM_IOCTL_MODE_GETENCODER
#   0xc06864a1 == DRM_IOCTL_MODE_GETCRTC
#   0xc01064ac == DRM_IOCTL_MODE_GETPROPBLOB
#   0x641f == DRM_IOCTL_DROP_MASTER
#   0x40046411 == DRM_IOCTL_AUTH_MAGIC
ioctl: arg1 == BLKGETSIZE64 || arg1 == SIOCSIFFLAGS || arg1 == BLKSSZGET || \
       arg1 == SIOCGIFFLAGS || arg1 == TCGETS || arg1 == 0x40048001 || \
       arg1 == 0x40108003 || arg1 == 0x40108014 || arg1 == 0x40208018 || \
       arg1 == 0x80048011 || arg1 == 0xc0048000 || arg1 == 0xc0208005 || \
       arg1 == 0x40086409 || arg1 == 0xc00c644a || arg1 == 0xc00c6448 || \
       arg1 == 0xc0106442 || arg1 == 0xc018644c || arg1 == 0xc010640c || \
       arg1 == 0xc0186443 || arg1 == 0xc0106440 || arg1 == 0xc0406400 || \
       arg1 == 0x4004644b || arg1 == 0xc04064a0 || arg1 == 0xc04064aa || \
       arg1 == 0xc05064a7 || arg1 == 0xc01464a6 || arg1 == 0xc06864a1 || \
       arg1 == 0xc0186440 || arg1 == 0xc01064ac || arg1 == 0x40088026 || \
       arg1 == 0xc0018036 || arg1 == 0x4018800e || arg1 == 0x641f || \
       arg1 == 0x40046411
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
memfd_create: 1
newfstatat: 1
openat: 1
pipe2: 1
read: 1
recvmsg: 1
rt_sigprocmask: 1
sendto: 1
signalfd4: 1
uname: 1
write: 1
exit_group: 1
