# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Currently not support.

clock_getres: 1
clock_gettime: 1
gettimeofday: 1
getrandom: arg2 in 0xfffffffd
connect: 1
socket: arg0 == AF_UNIX
exit_group: 1
