# Copyright 2020 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# rseq should be first due to frequency and purpose to decrease nptl latency
rseq: 1

exit_group: 1
exit: 1
fstat: 1
newfstatat: 1
mlock: 1
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munlock: 1
restart_syscall: 1
rt_sigreturn: 1
write: 1
clock_getres: 1
clock_gettime: 1
gettimeofday: 1
