# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# Detect CML Bluetooth USB device and check the device name, disable
# autosuspend on specific devices
ATTR{idVendor}=="8087", ATTR{idProduct}=="0026", RUN="/usr/sbin/control_usb_runtime_suspend.sh -d $env{DEVPATH}"
